.App {
  text-align: center;
  padding: 5%;
}

.search-component {
  padding-left: 0%;
}

.controls-component {
  padding-left: 40%;
}

.info-title, .info-section {
  text-align: left;
  padding-left: 5%;
}

.dummy-colour {
  background: red;
}
