.App {
  text-align: center;
  padding: 5%;

}

.search-component {
  padding-left: 20%;

}

.controls-component {
  padding-left: 20%;
  padding-right: 20%;
}

.info-title, .info-section {
  text-align: left;
  padding-left: 5%;
}

.dummy-colour {
  background: red;
}
